@inherits LayoutComponentBase

<div class="ams-layout">
    <NavMenu />
    <main class="ams-main">
        <div class="ams-topbar">
            <TopBar />
        </div>
        <div class="ams-content">
            <ErrorBoundary>
                <ChildContent>@Body</ChildContent>
                <ErrorContent Context="ex">
                    <ErrorAlert Message="@ex.Message" />
                </ErrorContent>
            </ErrorBoundary>
        </div>
    </main>
</div>
