@inject AuthService AuthService

<div class="topbar-inner">
    <div class="topbar-left">
        <PageTitle />
    </div>
    <div class="topbar-right">
        <NotificationBell />
        <UserAvatar />
    </div>
</div>

@code { }
